
########## Cache files ##########
*.bin
__pycache__

########## User files ##########
evaluation/*
result_*
perf.*
*.txt

# Excludes from User files
!evaluation/show-plot.py
!evaluation/plot.sh
!prompt/*.txt

########## Folders ##########
backup
log_backup
external

