
########## Cache files ##########
*.bin
__pycache__

########## User files ##########
evaluation/*
!evaluation/plot.sh
!evaluation/show-plot.py
result_*


########## Folders ##########
backup
log_backup

